<nav class="navbar navbar-light navbar-expand-lg bg-light">
  <div class="container">
    <ul class="navbar-nav nav">
      <li routerLinkActive="active"><a routerLink="auth" class="nav-link">Authentification</a></li>
      <li routerLinkActive="active"><a routerLink="edit" class="nav-link">Nouvel appareil</a></li>
      <li routerLinkActive="active"><a routerLink="users" class="nav-link">Utilisateurs</a></li>
      <li routerLinkActive="active"><a routerLink="appareils" class="nav-link">Appareils</a></li>
    </ul>
    <div class="navbar-right">
      <p>Vous êtes connecté depuis {{seconde}} secondes ! </p>
    </div>
    </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>